h1{ color: white; text-align: center; background-color: darkblue; }
h2{ text-align: center; font-family: times new roman; font-size: x-large; color: white;  }
body{ text-align: center; font-family: times new roman;  color: white; background-color: purple ; }