{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Images... </title>
</head >
<body style="background-color:green ; color: white;">
	<h1 style="color: white;padding: 4px ; text-align: center; background-color: black; "><b><u>Price Details: </u> </b></h1>
	
<!--	<pre style="color: white;font-family:Times new roman ; font-size: x-large;larger;padding-top: 0px ;padding-left:140px ;  "><b>Formal Shoe:                         			     Boots:							   Sneakers: </b></pre> -->

	<img src="{%static "images/formal shoe.png "%}" style="padding-top : 0px;padding-right:85px ;padding-left:85px ;padding-bottom: 20px; " width="250" height="150" >

	<img src="{%static "images/boots.png "%}" style="padding-top : 0px;padding-right:85px ;padding-left:85px ;padding-bottom: 20px; " width="250" height="150">

	<img src="{%static "images/sneakers.png "%}" style="padding-top : 0px;padding-right:85px ;padding-left:85px ;padding-bottom: 20px; " width="250" height="150"><br>
	
	<a  style="padding-right:0px ; padding-left:130px ; "></a>
	<a  style="padding-right:10px ; padding-left:10px ;padding-bottom: 5px;padding-top: 3px;color: white;background-color: black;font-size: x-large; ">Price: Rs.700</a>
	<a  style="padding-right:275px ; padding-left:0px ; "></a>
	<a  style="padding-right:10px ; padding-left:10px ;padding-bottom: 5px;padding-top: 3px;color: white;background-color: black;font-size: x-large; ">Price: Rs.800</a>
	<a  style="padding-right:275px ; padding-left:0px ; "></a>
	<a  style="padding-right:10px ; padding-left:10px ;padding-bottom: 5px;padding-top: 3px;color: white;background-color: black;font-size: x-large; ">Price: Rs.600</a> <br><br><br><br>


	<!-- <pre style="color: white;font-family:Times new roman ; font-size: x-large;larger;padding-top: 10px ;padding-left:160px ;  "><b>Loafers:                         	   		           Running Shoe:     					   Football Shoe: </b></pre>  -->

	<img src="{%static "images/loafers.png "%}" style="padding-top : 0px;padding-right:85px ;padding-left:85px ;padding-bottom: 20px; " width="250" height="150" >

	<img src="{%static "images/running shoe.png "%}" style="padding-top : 0px;padding-right:85px ;padding-left:85px ;padding-bottom: 20px; " width="250" height="150">

	<img src="{%static "images/football shoe.png "%}" style="padding-top : 0px;padding-right:85px ;padding-left:85px ;padding-bottom: 20px; " width="250" height="150"><br>
	

	<a  style="padding-right:0px ; padding-left:130px ; "></a>
	<a  style="padding-right:10px ; padding-left:10px ;padding-bottom: 5px;padding-top: 3px;color: white;background-color: black;font-size: x-large; ">Price: Rs.600</a>
	<a  style="padding-right:275px ; padding-left:0px ; "></a>
	<a  style="padding-right:10px ; padding-left:10px ;padding-bottom: 5px;padding-top: 3px;color: white;background-color: black;font-size: x-large; ">Price: Rs.800</a>
	<a  style="padding-right:275px ; padding-left:0px ; "></a>
	<a  style="padding-right:10px ; padding-left:10px ;padding-bottom: 5px;padding-top: 3px;color: white;background-color: black;font-size: x-large; ">Price: Rs.600</a>

</body>
</html>