{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet"  href="{% static 'css/style.css' %}">
	<title>description related to shoes.. </title>
</head>
<body style="text-align:left; font-size: large; background-color:darkblue; color:white; width: 900px; border-width:20px ;">
	<h2><b><u>Formal Shoe: </u></b></h2>
	<p style="text-indent:15px ; ">  Such shoes were worn by both women and men. However, they had nothing to do with elegance, their job was to protect the robes from mud.</p>
	<h2><b><u>Boots: </u></b></h2>
	<p style="text-indent:15px ; "> One of the earliest forms of foot protects, the first known depiction of boots was found in cave paintings in northern Spain that date back to 15,000 BC. Defined as footwear that covers the entire foot and part of the leg, boots offered more protection than shoes and were originally designed for work.</p>
	
	<h2><b><u>Sneakers: </u></b></h2>
	<p style="text-indent:15px ; "> The earliest sports shoes were created by The Liverpool Rubber Company, founded by John Boyd Dunlop, in the 1830s. Dunlop was an innovator who discovered how to bond canvas uppers to rubber soles. These were known as sandshoes and worn by Victorians on their beach excursions.</p>
	
	<h2><b><u>Loafers: </u></b></h2>
	<p style="text-indent:15px ; "> The Spaulding family in New Hampshire started making shoes based on this design in the early 1930s, naming them loafers, a general term for slip-on shoes which is still in use in America. </p>
	
	<h2><b><u>Running Shoe: </u></b></h2>
	<p style="text-indent:15px ; "> The first shoes specifically designed for running were developed in 1852 by the Spalding Company. They had six spikes in the soles with low-cut kangaroo leather uppers. They were extremely expensive at the time and typically used by high-profile athletes only. </p>
	
	<h2><b><u>Football Shoe: </u></b></h2>
	<p style="text-indent:15px ; "> The first pair of football boots noted in history are those made for King Henry VIII of England, who ordered a pair from his Great Wardrobe in 1526. Pre 1891 nothing was allowed to project out of the shoes worn by a footballer, a revision then lead to the use of small studs or bars and football boots were born. </p>
</body>
</html>